*{
    margin:0;
    padding:0;
    font-family:'Calibri', Congenial;
    box-sizing: border-box;
}
html{ 
    scroll-behavior:smooth;
}
body{
    background: #f5b8f3;
    color: #f7f5f7;
}
#header{
    width:100%;
    height:100vh;
    background-image:url(https://github.com/marebae/portfolio.github.io/blob/main/images/cute.jpg?raw=true);
    background-size:cover;
    background-position:center;
}
.container{
    padding: 10px 10%;
}

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;

}
.logo{
    width:140px;
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;
}
nav ul li a{
    color: #030000;
    text-decoration:none;
    font-size:24px;
    position:relative;
}
nav ul li a ::after{
    content:'';
    width: 0;
    height:3px;
    background: #fff;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top:20%;
    font-size:40px;
}
.header-text h1{
    font-size:80px;
    margin-top:20px;
}

#about{
    padding: 80px 0;
    color:#d1e3d3;
}
.row{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.about-col-1{
    flex-basis:35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size:60px;
    font-weight:600;
    color:#fff;
}
.tab-titles{
    display:flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
    content: '';
    width:0;
    height:3px;
    background:#270629;
    position: absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}
.tab-links.active-link::after{
width: 50%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0;
}
.tab-contents ul li span{
    color:#faf7f7;
    font-size:15px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}

#services{
    padding:30px 0;
}
.services-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.services-list div{
    background: #a882a8;
    padding:40px;
    font-size:16px;
    font-weight: 300;
    border-radius:10px;
    transition:background 0.5s,transform 0.5s;
}
.services-list div i{
    font-size:50px;
    margin-bottom:30px;
}
.services-list div h2{
    font-size:30px;
    font-weight:500;
    margin-bottom:15px;
}
.services-list div a{
    text-decoration:none;
    color: #fff;
    font-size:12px;
    margin-top: 20px;
    display:inline-block;
}
.services-list div:hover{
    background: #2e0336;
    transform:translateY(-10px);
}

.contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis:60%;
}
.contact-left p{
    margin-top:30px;
}
.contact-left p i{
    color:#9e6595;
    margin-right:15px;
    font-size:25px;
}
.social-icons{
    margin-top:30px;
}
.social-icons a{
    text-decoration:none;
    font-size:30px;
    margin-right:15px;
    color:#150f38;
    display:inline-block;
    transition:transform 0.5s
}
.social-icons a:hover{
    color:#262626;
    transform:translateY(-5px);
}
form .btn.btn2{
    display:inline-block;
    background:#fff;
}

}
.btn.btn2{
    display:inline-block;
    background:#fff;
    color: #000;
    padding:14px 60px;
    font-size:12px;
    margin-top:20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.contact-right form{
    width:100%;
}
form input,form textarea{
    width:100%;
    border:0;
    outline:none;
    background:#150f38;
    padding:15px;
    margin:15px 0;
    color:#fff;
    font-size:14px;
    border-radius:6px;

}
form .btn2{
    padding:14px 60px;
    font-size:16px;
    margin-top:20px;
    cursor:pointer;
    color: #000;
}
.copyright{
    width:100%;
    text-align:center;
    padding:25px 0;
    background:#f0e1f0;
    font-weight:300;
    margin-top:20px;

}
.copyright i{
    color:#fff;
}
nav .fas{
    display:none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(https://github.com/marebae/portfolio.github.io/blob/main/images/cute.JPG?raw=true);
        height: 70vh;
    }
    .header-text {
        margin-top: 30%;
        font-size: 20px;
    }
    .header-text h1 {
        font-size: 40px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav .fas {
        display: block;
        font-size: 35px;
    }
    nav ul {
        background: #0a1f17;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    .sub-title {
        font-size: 40px; /* Adjusted for smaller screens */
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-2 {
        font-size: 20px;
    }
    .tab-links {
        font-size: 30px;
        margin-right: 20px;
    }
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    .btn.btn2 {
        padding: 12px 50px;
        font-size: 20px;
    }
    .copyright {
        font-size: 12px;
    }
    
    /* New styles for services boxes */
    .services-list {
        grid-template-columns: repeat(1, 1fr); /* Stack boxes */
        grid-gap: 20px; /* Adjust spacing */
    }
    .services-list div {
        padding: 20px; /* Adjust padding */
        font-size: 18px; /* Font size for services */
    }
    .services-list div h2 {
        font-size: 24px; /* Heading size for services */
    }
    .services-list div p {
        font-size: 16px; /* Paragraph size for services */
    }
}
